.sidebar {
    background-color: #1c1c1c;
    color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .img-logo {
    width: 150px;
  }
  
  .search-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .search-box img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  
  .search-box input {
    width: 100%;
    padding: 5px 10px 10px 0px; 
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
  }
  
  .nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
  }
  
  .nav-item img {
    width: 20px;
    height: 20px;
  }
  
  .nav-item span {
    margin-left: 10px;
  }
  
  .dropdown-icon {
    margin-left: auto;
  }
  
  .sign-out {
    display: flex;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
  }
  
  .sign-out img {
    width: 20px;
    height: 20px;
  }
  
  .sign-out span {
    margin-left: 10px;
  }
  

